/* Loader1 */
#loader {
    margin: 50px auto;
    position: relative;
    animation: ball 10s linear infinite;
}

#loader:after,
#loader:before {
    content: ' ';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: deepskyblue;
    position: absolute;
    top: 0px;
    left: 50%;
}

#loader:after {
    top: auto;
    bottom: 0px;
}

@keyframes ball {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loader2 */
#loader2 {
    display: flex;
    align-self: center;
    background: #92B901;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 47px;
    border-radius: 10px;
    margin: 0 auto;
    animation: spinner 2s linear infinite;
    align-items: center;
    padding: 20px;
}

@keyframes spinner {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(0deg);
    }


    50% {
        transform: rotate(0deg);
    }

    55% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(0deg);
        background: #1ec7e6;
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* Loader3 */
#loader3 {
    width: calc(100% / 2);
    height: calc(100% / 2);
    position: relative;
    animation: example 5s infinite;
}


@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: calc(100% /2);
        top: 0px;
    }

    50% {
        background-color: blue;
        left: calc(100% /2);
        top: calc(100% /2);
    }

    75% {
        background-color: green;
        left: 0px;
        top: calc(100% /2);
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

/* Sunny */
#sunny {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    line-height: 100px;
    border-radius: 50%;
    animation: sun 1s linear infinite;
}

#sunny:before {
    content: 'Sunny day!';
}

@keyframes sun {
    0% {
        background-color: orangered;
    }

    50% {
        width: 108px;
        height: 108px;
        background: orange;
    }

    100% {
        background-color: orangered;
    }
}